* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    max-width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

ul {
    padding-left: 40px
}

body {
    background-color: #F3E5D8;
}

#corpo {
    margin: 500px auto;
    border-radius: 50px;
    background-color:  white;
    padding: 0 40px;
}

#omelete {
    text-align: center;
    padding: 60px;
    border-radius: 60px;
    overflow: hidden;
}

#omelete img {
    border-radius: 20px;
}


h1 {
    font-size: 80px;
}

p {
    font-size: 25px;
}

#vermelho {
    height: 250px;
    margin: auto;
    border-radius: 32px;
    background-color: hsl(330, 100%, 98%);
}

#vermelho ul {
    font-size: 30px;
    padding: 35px 50px;
    color: hsl(332, 51%, 32%)
}

#vermelho ul li {
    color: black;
    font-size: 23px;
    padding: 4px;
}

#ingredientes {
    margin: auto;
}

#ingredientes ul {
    font-size: 45px;
    color: hsl(14, 45%, 36%);
    padding: 50px 0;
}

#ingredientes ul li {
    font-size: 23px;
    color: black;
    padding: 10px;
}   

#instruções {
    border-top: solid hsl(30, 10%, 34%);
    border-bottom: solid hsl(30, 10%, 34%);
    border-width: 0.5px;
    margin: auto;
}

#instruções ul {
    font-size: 45px;
    color: hsl(14, 45%, 36%);
    padding: 50px 0;
}

#instruções ul li {
    font-size: 23px;
    color: black;
    padding: 10px;
    list-style-type: decimal;
}

#instruções ul li::marker {
    color: hsl(14, 45%, 36%);
}

#nutrição {
    margin: auto;
}

#nutrição p {
    font-size: 45px;
    color: hsl(14, 45%, 36%);
    padding: 50px 0;
}

#nutrição span {
    font-size: 23px;
    color: black;
    padding: 50px 0;
}

#nutrição table {
    font-size: 23px;
    color: black;
    padding: 50px 0;
    border-collapse: collapse;
    width: 100%;
}

#nutrição table td {
    padding: 20px;
    width: 500px;
}

#nutrição table tr:not(:last-child) td {
    border-bottom: 1px solid hsl(30, 10%, 34%);
    border-width: 0.5px;
}

#nutrição table td strong {
    color: hsl(14, 45%, 36%);
}

@media(max-width:800px) {
    p, span, h1, h2, h3, h4, h5 strong {
        font-size: 0.8rem;
    }
}